## [10 Questions] QUIZ - Tuple

**Q 1:**

Define a function named **create_tuple**.

It will create a tuple of numbers from 1 to 10.

Then it will add numbers from 11 to 20 to this tuple.

And it will return the final form of the tuple.

**Hints:**
* Tuples are Immutable. So how do you add elements to a Tuple?
* use `for` loop
* `range()`

<pre style="background: gold;">
Result: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
</pre>

In [3]:
# S 1:

def create_tuple():
    
    # create the tuple
    tup = (1,2,3,4,5,6,7,8,9,10)
    
    # add items
    for i in range(11, 21):
        
        # create a new temp tuple via addition
        # (i,) -> tuple with one element
        new_tup = tup + (i,)
        
        # reassign the new tuple
        tup = new_tup
        
    return tup

In [4]:
t = create_tuple()

print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

---

**Q 2:**

Define a function named **tuple_to_string**.

It will take a Tuple as parameter and convert it into a String.

Then it will return this String.

**Hints:**
* `join()`

<pre style="background: gold;">
Parameter:
t = ('M', 'a', 'c', 'h', 'i', 'n', 'e', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g')

Expected Output: Machine Learning
</pre>

In [5]:
# S 2:

def tuple_to_string(tup):
    
    text = ''.join(tup)
    
    return text

In [6]:
t = ('M', 'a', 'c', 'h', 'i', 'n', 'e', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g')

t = tuple_to_string(t)

print(t)

Machine Learning

---

**Q 3:**

Define a function named **string_to_list_to_tuple**.

It will take String as parameter.

First it will convert this String into a List, then it will convert this List into a Tuple.

Finally it will return the Tuple.

**Hints:**
* only use `constructor` methods
    * list()
    * tuple()
    
<pre style="background: gold;">
Parameter:
pythons_father = 'Guido van Rossum'

Expected Result: ('G', 'u', 'i', 'd', 'o', ' ', 'v', 'a', 'n', ' ', 'R', 'o', 's', 's', 'u', 'm')
</pre>

In [7]:
# S 3:

def string_to_list_to_tuple(text):
    
    # first String -> List
    a_list = list(text)
    
    # now List -> Tuple
    tup = tuple(a_list)
    
    return tup

In [8]:
pythons_father = 'Guido van Rossum'
father_tuple = string_to_list_to_tuple(pythons_father)
print(father_tuple)

('G', 'u', 'i', 'd', 'o', ' ', 'v', 'a', 'n', ' ', 'R', 'o', 's', 's', 'u', 'm')

---

**Q 4:**

Define a function named **how_many_instances**.

It will take a Tuple and an index (int) as parameter.

Function will first find the element at that index.

Then it will return the number of instances of the element in the Tuple.

**Hints:**
* count()

<pre style="background: gold;">
Parameters:
t = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
i = 1

how_many_instances(t, i)

Expected Output: 4
</pre>

In [9]:
# S 4:

def how_many_instances(tup, index):
    
    # get the element at index
    el = tup[index]
    
    # count()
    return tup.count(el)

In [10]:
t = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
i = 1
count = how_many_instances(t, i)
print(count)

4

In [11]:
text = ('G', 'u', 'i', 'd', 'o', ' ', 'v', 'a', 'n', ' ', 'R', 'o', 's', 's', 'u', 'm')
ind = 4
print(how_many_instances(text, ind))

2

---

**Q 5:**

Slicing Operations in Tuples are exactly the same as in Lists and Strings.

Our Tuple is:

<pre> tup = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j') </pre>

Find the items in tup, based on slicing and indexing:
1. items from position 4 (inc) to position 7 (inc)
2. the first 5 items
3. items from position 6 (inc)
4. all items
5. 2nd item from the last
6. last 4 items
7. items from position 2 to 8, with step size 2
8. all items with step size 3
9. items from position 9 to position 3 (exc) but in reverse order
10. print the tup in reverse order
11. print the tup in reverse order with step size 2
12. all the elements excluding the last one, with negative index

In [13]:
# S:

tup = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j') 
tup

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')

In [14]:
# 1. items from position 4 (inc) to position 7 (inc)
# position 4 -> index 3
# position 7 -> index 6  (since it is included the end index will be 7)

tup[3:7]

('d', 'e', 'f', 'g')

In [18]:
# 2. the first 5 items

tup[:5]

('a', 'b', 'c', 'd', 'e')

In [19]:
# 3. items from position 6 (inc)

tup[5:]

('f', 'g', 'h', 'i', 'j')

In [20]:
# 4. all items

tup[::]

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')

In [23]:
# 5. 2nd item from the last

tup[-2]

'i'

In [24]:
# 6. last 4 items

tup[-4:]

('g', 'h', 'i', 'j')

In [25]:
# 7. items from position 2 to 8, with step size 2

tup[1:8:2]

('b', 'd', 'f', 'h')

In [26]:
# 8. all items with step size 3

tup[::3]

('a', 'd', 'g', 'j')

In [27]:
# 9. items from position 9 to position 3 (exc) but in reverse order

tup[8:2:-1]

('i', 'h', 'g', 'f', 'e', 'd')

In [28]:
# 10. print the tup in reverse order

tup[::-1]

('j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [29]:
# 11. print the tup in reverse order with step size 2

tup[::-2]

('j', 'h', 'f', 'd', 'b')

In [30]:
# 12. all the elements excluding the last one, with negative index

tup[:-1]

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

---

**Q 6:**

Define a function named **change_tuple_ending**.

It will take a List as parameter.

The elements of this list will be Tuples.

Each Tuple may be in different length, so the size of the elements in the list is not fixed.

The function will replace the last item in each Tuple element in the list with its square.

**Hints:**
* Mutate the original list (the parameter list will change in-place)
* How can you get last element in a Tuple?
* How to mutate the list, while looping over it?
* You need to find a way to mutate the list (enumerate())
* How to create a Tuple with single element?

<pre style="background: gold;">
Parameter:
tuple_list = [(2,5,8), (4,3), (1,7,9,6), (5,)]

Expected Output:
tuple_list = [(2,5,64), (4,9), (1,7,9,36), (25,)]
</pre>

In [33]:
# S 6:

def change_tuple_ending(a_list):
    
    for index, tup in enumerate(a_list):
        
        # get the tuple items up to the last one
        items_up_to_last = tup[:-1]
        
        # last element -> square it
        last_item = tup[-1]**2
        
        # concat them -> override tup
        tup = items_up_to_last + (last_item,)
        
        # mutate the list -> change the current element
        a_list[index] = tup

In [34]:
tuple_list = [(2,5,8), (4,3), (1,7,9,6), (5,)]
print('tuple_list before passing to function:', tuple_list)

change_tuple_ending(tuple_list)
print('tuple_list after passing to function:', tuple_list)

tuple_list before passing to function: [(2, 5, 8), (4, 3), (1, 7, 9, 6), (5,)]
tuple_list after passing to function: [(2, 5, 64), (4, 9), (1, 7, 9, 36), (25,)]

---

**Q 7:**

Define a function named **replace_tuple_with_sqaure**.

It will taka a List as parameter.

The items in this List are Tuples.

Each Tuple may be in different length, so the size of the elements in the list is not fixed.

The function will replace each element of Tuples with its square.

And it will return the new list of squared Tuples.

**Hint:**
* Do not change the parameter
* How to mutate the list while looping over it?

<pre style="background: gold;">
Parameter:
tuple_liste = [(2,5,8), (4,3), (1,7,9,6), (5,)]

Expected Output:
new_tuple_list = [(4,25,64), (16,9), (1,49,81,36), (25,)]
</pre>

In [37]:
# S 7:

def replace_tuple_with_sqaure(a_list):
    
    # new_list
    new_list = a_list.copy()
    
    for index, tup in enumerate(new_list):
        
        new_tup = tuple()
        
        # loop over the tup items
        for t in tup:
            new_tup += (t**2,)
            
        # mutate the list
        new_list[index] = new_tup
        
        
    return new_list

In [38]:
tuple_list = [(2,5,8), (4,3), (1,7,9,6), (5,)]

new_tuple_list = replace_tuple_with_sqaure(tuple_list)

print('tuple_list:', tuple_list)
print('new_tuple_list:', new_tuple_list)

tuple_list: [(2, 5, 8), (4, 3), (1, 7, 9, 6), (5,)]
new_tuple_list: [(4, 25, 64), (16, 9), (1, 49, 81, 36), (25,)]

---

**Q 8:**

Define a function named **movie_characters**.

It will take 4 lists as parameters.

4 lists:
* List 1 -> Actor/Actress Name
* List 2 -> Movie Title
* List 3 -> Release Year
* List 4 -> Character Name

Function will take these 4 lists and create 2 Tuples out of them.

Each Tuple will have 2 elements.
* Tuple 1 -> (Actor/Actress Name, Character Name)
* Tuple 2 -> (Movie Title, Release Year)

It will use the Tuple 1 as the Key and Tuple 2 as the Value and craete a Dictionary.

And it will return this dictionary.

**Hints:**
* `zip()`

<pre style="background: gold">
Parameters:
actors = ['Marlon Brando', 'Heath Ledger', 'Natalie Portman', 'Emma Stone']
characters = ['Don Vito Corleone', 'Joker', 'The Swan Queen', 'Mia']
movies = ['The Godfather', 'The Dark Knight', 'Black Swan', 'La La Land']
years = [1972, 2008, 2010, 2016]

Expected Output:
{('Marlon Brando', 'Don Vito Corleone'): ('The Godfather', 1972),
 ('Heath Ledger', 'Joker'): ('The Dark Knight', 2008),
 ('Natalie Portman', 'The Swan Queen'): ('Black Swan', 2010),
 ('Emma Stone', 'Mia'): ('La La Land', 2016)}
</pre>

In [41]:
# S 8:

def movie_characters(actors, characters, movies, years):
    
    # create an empty dict
    dictionary = {}
    
    # loop over the 4 list -> zip()
    for actor, character, movie, year in zip(actors, characters, movies, years):
        
        # create and add tuples into dictionary
        dictionary[(actor, character)] = (movie, year)
        
    return dictionary

In [42]:
# lists:
actors = ['Marlon Brando', 'Heath Ledger', 'Natalie Portman', 'Emma Stone']
characters = ['Don Vito Corleone', 'Joker', 'The Swan Queen', 'Mia']
movies = ['The Godfather', 'The Dark Knight', 'Black Swan', 'La La Land']
years = [1972, 2008, 2010, 2016]

# call the functions
movie_dictionary = movie_characters(actors, characters, movies, years)
movie_dictionary

{('Marlon Brando', 'Don Vito Corleone'): ('The Godfather', 1972),
 ('Heath Ledger', 'Joker'): ('The Dark Knight', 2008),
 ('Natalie Portman', 'The Swan Queen'): ('Black Swan', 2010),
 ('Emma Stone', 'Mia'): ('La La Land', 2016)}

---

**Q 9:**

Define a function named **sort_tuple_of_tuples**.

It will take a Tuple as the parameter.

The elements inside this Tuple are also Tuples.

Namely, the parameter is a Tuple of Tuples.

Each Tuple element contains 2 items.

The function will sort the main Tuple and return a sorted Tuple.

Sort Rule is going to be the second element in the inner Tuples.

**Hints:**
* `lambda`

<pre style="background: gold">
Parameter:
tuple_of_tuples = (('a', 12), ('e', 8), ('b', 16), ('c', 22))

Expected Output:
[('e', 8), ('a', 12), ('b', 16), ('c', 22)]
</pre>

In [43]:
# S 9:

def sort_tuple_of_tuples(tuple_of_tuples):
    
    # print(tuple_of_tuples[3][0])
    
    # x -> ('c', 22)
    # x[1] -> 22
    return sorted(tuple_of_tuples, key = lambda x: x[1])

In [44]:
tuple_of_tuples = (('a', 12), ('e', 8), ('b', 16), ('c', 22))

sorted_tuple = sort_tuple_of_tuples(tuple_of_tuples)
sorted_tuple

[('e', 8), ('a', 12), ('b', 16), ('c', 22)]

---

**Q 10:**

Define a function named **number_of_occurences**.

It will take Tuple of integers and a number as parameters.

It will return the number of occurences of that number in the Tuple.

It will use the function defined in Q4 (how_many_instances) to find the count. (It will not do the counting itself.)

If the number does not exist in the Tuple, it will return: 'Number not in Tuple!'.

**Hints:**
* function returning a function
* raise
* index()

<pre style="background: gold">
Parameters:
tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
num = 2

Expected Output:
4
</pre>

In [45]:
# S 10:

def number_of_occurences(tup, num):
    
    # check if the num is in tup
    if not num in tup:
        raise Exception('Number not in Tuple!')
    else:
        
        # call the function in Q4
        # how_many_instances(tup, index)
        
        # tuple.index(el) -> first found index
        index = tup.index(num)
        
        # return the function
        return how_many_instances(tup, index)

In [46]:
tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
num = 2

number_of_occurences(tup, num)

4

In [47]:
tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
num = 5

number_of_occurences(tup, num)

2

In [48]:
# When the number is not in Tuple

tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
num = 99

number_of_occurences(tup, num)

Exception: Number not in Tuple!